    h4 {
        text-align: center;
    }
    
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1500px;
    }
    
    .image {
        height: 400px;
        border: 1px solid black;
    }
    
    .name {
        font-weight: bold;
    }
    
    .description {
        margin-left: 70px;
        width: 900px;
    }
    
    .category {
        font-weight: lighter;
        font-size: small;
        color: grey;
    }
    
    .description span {
        font-weight: lighter;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .dropdown {
        width: 30px;
    }
    
    .buy {
        background-color: lightskyblue;
    }
    
    button {
        border-radius: 4px;
        border: 0;
        margin: 0px 4px;
        padding: 3px 6px;
    }
    
    .discount {
        color: lightgreen;
    }
    
    .original {
        font-size: smaller;
    }